{% extends "base.html" %}
{% load ksp_utils %}

{% block content %}
<h2>Anzahl Stichproben pro Gemeinde und Aufnahmejahr</h2>

<table class="numbers">
<thead><tr><th>Gemeinde</th><th>Jahr</th><th>Anzahl</th></tr></thead>
<tbody>
{% for res in result %}
  <tr><td>{{ res.0|gem_name }}</td><td>{{ res.1 }}</td><td>{{ res.2 }}</td></tr>
{% endfor %}
</tbody></table>
{% endblock %}
