{% extends "base.html" %}
{% load staticfiles %}

{% block htitle %}Datenanforderungen{% endblock %}

{% block extra_head %}
{% include "map_headers.html" %}

<style type="text/css">
div.selblock { float:left; border: 1px solid #999; clear:left; width: 22%; margin: 4px; }
div.selblock > div { padding: 4px; }
div.blocktitle { background-color: #EEE; }
div.togglable + div { font-size: 11px; }
div.checkboxes { display: table; }
div.checkbox { display: table-row; }
div.checkbox input, div.checkbox label { display: table-cell; }
div#main_column { margin-left: 26%; }
div#refresh { text-align: center; }
div#server_error { margin: 0.6em 0; }
div#datamain { border: 1px solid #999; margin: 0; padding: 4px; }
div#mapmain { border: 1px solid #999; margin: 0; padding: 4px; display: none; }
div#map { width: 500; height: 500; }
th.aggr { background-color: #ffc8c8 !important; }
input.choice_filter { border: 1px solid #ccc; margin-left: 2.4em; font-size: 10px; width: 12em; }
</style>

<script type="text/javascript">
var views = JSON.parse('{{ views|safe }}');
</script>

<script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/data.js' %}"></script>
{% endblock %}

{% block content %}
<form id="dataform" action="{% url 'data_grid' %}">
<div id="where" class="selblock">
  <div class="blocktitle">Perimeter
    <div class="icons">
        <img class="info" src="{% static 'img/info.png' %}" title="Auswahl des Perimeters, für welche Daten angefordert werden.">
    </div>
  </div>

  {% for perim in perimeters %}
  <div class="perim_choice">
      <div class="togglable"><b>{{ perim.title }}</b>
        <span class="num_choices"></span>
        <img class="clear_choices" src="{% static 'img/clear.png' %}" title="Löschen">
        <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="{{ perim.infos }}"></div>
      </div>
      <div class="checkboxes">
         {% if perim.items|length > 20 %}<input class="choice_filter" type="text"><br>{% endif %}
      {% for item in perim.items %}
        <div class="checkbox">
            <input id="{{ perim.short_name }}{{ item.pk }}" type="checkbox"
                   name="{{ perim.short_name }}" value="{{ item.pk }}">
            <label for="{{ perim.short_name }}{{ item.pk }}">{{ item.name }}</label>
        </div>
      {% endfor %}
      </div>
  </div>
  {% endfor %}
</div>

<div id="what" class="selblock">
  <div class="blocktitle">Zielgrösse <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="Auswahl der Zielgrösse, für welche Daten angefordert werden. Die Zielgrössen sind eigentliche Kennzahlen zum Wald."></div>
  </div>
  <div class="togglable"><b>Naturschutz</b> <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="Kennzahlen (Zielgrössen) im Zusammenhang mit der Naturschutzfunktion können abgefragt werden."></div>
  </div>
  <div>
    <div class="input_choice"><input id="BWNATURN" type="radio" name="bio" value="BWNATURN"> <label for="BWNATURN">Naturnähe des Nadelholzanteils (BWNATURN)</label></div>

    <div class="input_choice"><input id="BWARTEN" type="radio" name="bio" value="BWARTEN"> <label for="BWARTEN">Gehölzartenvielfalt (BWARTEN)</label></div>

    <div class="input_choice"><input id="BWSTRU" type="radio" name="bio" value="BWSTRU"> <label for="BWSTRU">Strukturvielfalt (BWSTRU)</label></div>

    <div class="input_choice"><input id="Biotopwert" type="radio" name="bio" value="Biotopwert"> <label for="Biotopwert">Biotopwert</label></div>

    <div class="input_choice"><input id="Totholz" type="radio" name="bio" value="Totholz"> <label for="Totholz">Totholz</label></div>
  </div>

  <div class="togglable"><b>Holzproduktion</b>
    <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="Kennzahlen (Zielgrössen) im Zusammenhang mit der Rohholzproduktion können abgefragt werden. Für den lebenden Bestand, den Einwuchs, sowie die Nutzung kann die Stammzahl, die Grundfläche sowie das Schaftvolumen abgefragt werden."></div>
  </div>
  <div>
    <div class="input_choice"><input id="Stammzahl" type="radio" name="bio" value="Stammzahl"> <label for="Stammzahl">Stammzahl, Volumen, Grundfläche</label></div>

    <div class="input_choice"><input id="Einwuchs" type="radio" name="bio" value="Einwuchs"> <label for="Einwuchs">Einwuchs</label></div>

    <div class="input_choice"><input id="Nutzung" type="radio" name="bio" value="Nutzung"> <label for="Nutzung">Nutzung</label></div>

    <div class="input_choice"><input id="Zuwachs" type="radio" name="bio" value="Zuwachs"> <label for="Zuwachs">Lebender Zuwachs</label></div>

  </div>
</div>

<div class="selblock">
  <div class="blocktitle togglable">Gruppierung <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="Art und Weise, die Resultate zusammenzufassen. Je feiner die Gruppierung (z.b. Zielwert pro Baumart, Entwicklungsstufe und Gemeinde) desto weniger Kontrollstichproben stehen zur Verfügung und desto grösser ist der Standardfehler."></div>
  </div>
  <div id="grouping">
  </div>
</div>
</form>

<div id="main_column">
    <div class="view-details" id="details-BWNATURN"><b>BWNATURN:</b> Diese Kennzahl bewertet die Naturnähe des Nadelholzanteils des Bestandes in Bezug zu der anzutreffenden Waldgesellschaft nach Ellenberg und Klötzli. Dabei wird zwischen 1 (gemischter Laubwald, der sehr weit vom natürlichen Waldbestand entfert ist), 2 (gemischter Laubwald der weit vom natürlichen Waldbestand entfernt ist), 3 (gemischter Laubwald der wenig vom natürlichen Waldbestand entfernt ist) und 4 (naturnaher gemischter Laubwald) unterschieden.
      <div class="togglable"><b>Methode</b></div>
      <div>Die Naturnähe des Nadelholzanteils ist abhängig von der Waldgesellschaft nach Ellenberg und Klötzli. Der Vergleich beruht einerseits auf dem Basalflächenanteil des Nadelholzes in Bezug zum Laubholz und andererseits auf dem Basalflächenanteil von Fichte (spruce) und je nach Waldgesellschaft der Tanne in Bezug zum Laubholz. Die Bäume ab Kluppschwelle 12cm werden beim Vergleich berücksichtigt. Die folgende Tabelle gemäss Brändli 2001 zeigt die dem Modell zugrundeliegenden Annahmen. Der Berechnung liegen sowohl die Kontrollstichproben als auch die pflanzensoziologische Kartierung zugrunde.
      <h4>NFI model for the closeness to nature of the forest stocking (BWNATURN).</h4>
      <table class="numbers">
        <thead>
          <tr><th>Code</th><th>Definition of the code (class)</th>
              <th>Derivation based on the thresholds for the conifer and spruce proportion</th>
              <th>Rating (weight)</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>1</td><td>Mixed broadleaf forest that is very far from the natural state</td>
              <td>&gt;75% spruce<sup>1</sup></td><td>1</td></tr>
          <tr><td>2</td><td>Mixed broadleaf forest that is far from the natural state</td>
              <td>&gt;75% conifer<sup>2</sup>, &lt;75% spruce</td><td>2</td></tr>
          <tr><td>3</td><td>Mixed broadleaf forest that is moderately far from the natural state</td>
              <td>10%/25%-75% conifer<sup>3</sup></td><td>3</td></tr>
          <tr><td>4</td><td>Mixed broadleaf forest that is close to nature</td>
              <td>&lt;10%/25% conifer<sup>4</sup></td><td>4</td></tr>
          <tr><td>5</td><td>Conifer forest community</td>
              <td>E+K No. 47-71</td><td>4</td></tr>
        </tbody>
      </table>
      <table>
        <tr><td>E+K No.:</td><td>Number of the forest community according to Ellenberg and Klötzli (1972)</td></tr>
        <tr><td><sup>1</sup></td><td>E+K No. 1-46</td></tr>
        <tr><td><sup>2</sup></td><td>E+K No. 1-46, excluding fir for E+K No. 20 and 46</td></tr>
        <tr><td><sup>3</sup></td>
            <td>10%-75% conifer for E+K No. 1-7; 9-11; 13-17; 21-44<br>
                25%-75% conifer for E+K No. 8, 12, 18, 19<br>
                25%-75% conifer (excluding fir) for E+K No. 20, 46</td></tr>
        <tr><td><sup>4</sup></td>
            <td>&lt;10% conifer for E+K No. 1-7; 9-11; 13-17; 21-44<br>
                &lt;25% conifer for E+K No. 8, 12, 18, 19<br>
                &lt;25% conifer (excluding fir) for E+K No. 20, 46</td></tr>
      </table>
      Die Werte der pflanzensoziologischen Kartierung werden ebenfalls dem Datensatz der Kontrollstichproben entnommen [pflsoz]. Für die Berechnung des Nadelholzanteils sind die Einzelbaumaufnahmen Baumarten [iba] sowie der BHD [ibhd] nötig.
      </div>
    </div>

    <div class="view-details" id="details-BWARTEN"><b>BWARTEN:</b> Die Gehölzartenvielfalt im Bestand bestimmt die Anzahl Baumarten mit einem BHD von mindestens 12cm. Weiter werden Standorte mit Vorkommen von ökologisch wertvolle Baumarten (Birke, Weide, Erle, einheimische Pappelarten, einheimische Eichenarten, Sorbus-Arten, Wildkirsche, Wildapfel, Wildbirne, Waldföhre, Edelkastanie) mit 2 Punkten bewertet.
      <div class="togglable"><b>Methode</b></div>
      <div>Die folgende Tabelle gemäss Brändli 2001 zeigt die dem Modell zugrunde liegenden Annahmen. Der Berechnung liegen die Kontrollstichproben zugrunde. Es sind dies die Werte der Baumarten [iba] sowie deren BHD [ibhd].
        <h4>Derivation and weights for the ligneous species diversity in the NFI model (BWARTEN).</h4>
        <table class="numbers">
          <thead><tr><th>Number of tree species</th><th>Weight</th></tr></thead>
          <tbody>
            <tr><td>0 or 1 species</td><td>1</td></tr>
            <tr><td>2 species</td><td>2</td></tr>
            <tr><td>3 species</td><td>3</td></tr>
            <tr><td>4 species</td><td>4</td></tr>
            <tr><td>5 species</td><td>5</td></tr>
            <tr><th>Occurrence of special species <sup>1</sup></th><th>Weight</th></tr>
            <tr><td>No</td><td>0</td></tr>
            <tr><td>Yes</td><td>2</td></tr>
          </tbody>
        </table>
        <sup>1</sup> Birch, willow, alder, native poplar, native oak, sorbus species, wild cherry, wild apple and pear trees, Scotch pine, sweet chestnut
      </div>
    </div>

    <div class="view-details" id="details-BWSTRU"><b>BWSTRU:</b> Die Strukturvielfalt ist ein Modell zur bewertung der Waldstruktur auf Grund der Entwicklungsstufe, dem Schlussgrad sowie der Schichtung des Bestandes.
      <div class="togglable"><b>Methode</b></div>
      <div>Die Strukturvielfalt des Bestandes besteht aus den Parametern Entwicklungsstufe (EST), Schlussgrad des Bestandes (SCHLUSSG) sowie dem Schichtung des Bestandes (STRUK).
      <h4>Parameter and weight of the attributes used in the NFI model for the structural diversity of stands.</h4>
      <table class="numbers">
        <thead><tr><th>Parameter (attribute)</th><th>Abbreviated name</th><th>Categories (classes)</th><th>Weight</th></tr></thead>
        <tbody>
          <tr><td>Crown closure</td><td>SCHLUSSG</td>
            <td>Crowded<br>Normal<br>Loose<br>Open<br>Sparse<br>Grouped/crowded<br>Grouped/normal<br>Complete</td>
            <td>1<br>3<br>3<br>6<br>6<br>5<br>5<br>4</td>
          </tr>
          <tr><td>Stages of development</td><td>EST</td>
            <td>Young growth and thicket<br>Pole wood<br>Youg timber<br>Medium timber<br>Old timber<br>Mixed</td>
            <td>2<br>1<br>2<br>3<br>6<br>4</td>
          </tr>
          <tr><td>Stand structure</td><td>STRUK</td>
            <td>One-layered<br>Multi-layered<br>Multistorey<br>Cluster structure</td>
            <td>1<br>3<br>5<br>5</td>
          </tr>
        </tbody>
      </table>
      Dazu sind die folgenden Angaben der Kontrollstichproben nötig:
      <ol>
        <li>SCHLUSSG [befeinh]:<br>
gedrängt=crowded, geschlossen=normal, lückig=loos, aufgelöst=sparce, Jungwuchs=open, stufig=grouped, unbestockt=complete.</li>
        <li>EST [befeinh]:<br>
        Jungwuchs und Dickung=youth growth and thicket, schwaches Stangenholz=starkes Stangenholz=pole wood, schwaches Baumholz=young timber, mittleres Baumholz=medium timber, starkes Baumholz=old timber, stufig=mixed</li>
        <li>STRUK [iff]:<br>
	1=einschichtig=one-layered, 2=mehrschichtig=multi-layered, 3=stufig=multistorey, 	4=rottenstruktur=cluster structure</li>
      </ol>
      </div>
    </div>

    <div class="view-details" id="details-Biotopwert"><b>Biotopwert:</b> Für das Ökosystem Wald hat die Forschungsanstalt für Wald, Schnee und Landschaft WSL zur Messung der Biodiversität ein Biotopwert-Modell entwickelt (Brändli, 2001). Dieses Modell errechnet auf Grund der Baumartenvielfalt, der Strukturvielfalt (Entwicklungsstufe, Schichtung, Schlussgrad) sowie der Naturnähe des Bestandes einen Biotopwert für den Wald. Der Wert ist ein Ausdruck zur Bewertung von Waldbeständen als Lebensraum für einheimische Tier- und Pflanzenarten. Ein Wald mit einem hohen Biotop-Wert zeichnet sich wie folgt aus:
      <ul>
          <li>Es ist eine grosse Anzahl an Baumarten anzutreffen. Auch ökologisch besonders wertvolle Arten wie beispielsweise Weiden oder Eichen sind nachzuweisen.</li>
          <li>Der Bestand ist mehrschichtig aufgebaut, ist lückig und weist einen Anteil an Altholz auf.</li>
          <li>Der Nadelholzanteil, insbesondere der Fichtenanteil, überschreitet einen der Pflanzengesellschaft angepassten Anteil nicht.</li>
      </ul>
      <div class="togglable"><b>Methode</b></div>
      <div>
        Der Biotpwert wird aus der Naturnähe, der Gehölzartenvielfalt sowie der Strukturvielfalt errechnet.<br>
        <div style="border: 1px solid black; margin:1em; padding:4px;">
        Biotopwert= a*(Naturnähe) +  b*(Gehölzartenvielfalt) + c*(Strukturvielfalt)
        =  BWNATURN/4 + BWARTEN/7 + 2*BWSTRU1m/18
        </div>
        BWNATURN: siehe Methode Naturnähe des Nadelholzanteils.<br>
        BWARTEN: siehe Methode Gehölzartenvielfalt<br>
        BWSTRU1m: siehe Methode Strukturvielfalt<br>
      </div>
    </div>

    <div class="view-details" id="details-Totholz"><b>Totholz:</b> Abgestorbenes Holz (Bäume, Äste, Strünke) - (<i>tree_obs.vita_id = 4</i>).
    </div>

    <div class="view-details" id="details-Stammzahl"><b>Stammzahl:</b> Berechnet für die Probebäume und eine zu bestimmende Auswahl (Perimeter, Gruppierung) die Stammzahl, die Grundfläche und das Volumen.
    </div>

    <div class="view-details" id="details-Einwuchs"><b>Einwuchs:</b> Gesamtheit der Stammzahl oder des Volumens jener Bäume, deren Brusthöhendurchmesser zwischen zwei aufeinander folgenden Inventuren die Kluppierungsschwelle überschritten hat. Alle Probebäume welche neu eingewachsen sind (<i>tree_obs.vita_id = 3</i>). Der Einwuchs kann erst für ein Folge-Inventar berechnet werden.</div>

    <div class="view-details" id="details-Nutzung"><b>Nutzung:</b> Entnahme von Holz und Bäumen (durch waldbauliche Eingriffe) oder von anderen Waldressourcen (z.B. Harz, Samen). Alle Bäume, welche seit der letzten Aufnahme genutzt wurden (<i>tree_obs.vita_id = 1</i>i>). Die Nutzung kann erst für ein Folge-Inventar berechnet werden.</div>

    <div class="view-details" id="details-Zuwachs"><b>Lebender Zuwachs:</b> Der jährliche Volumen-Zuwachs aller lebenden Bäume zwischen zwei aufeinander folgenden Inventuren (<i>tree_obs.vita_id = 2</i>) - laufender jährliche Zuwachs aller lebenden Bäume. Das Volumen des Einwuchs wird addiert.
      <div class="togglable"><b>Methode</b></div>
      <div>Volumen-Zuwachs der lebender Bäume + Einwuchs = lebender Zuwachs.</div>
    </div>

    <div id="refresh"><input type="button" value="Daten aktualisieren"> <img id="wait" class="hidden" src="{% static 'img/indicator.gif' %}"></div>
    <div id="server_error" class="error hidden">Leider erzeugt die Abfrage einen Fehler auf dem Server.</div>
    <div id="client_error" class="error hidden"></div>

    <div id="tabs">
      <ul class="tabs">
        <li id="data-tab" class="tab active">Daten</li>
        <li id="map-tab" class="tab">Karte</li>
      </ul>
    </div>

    <div id="datamain">
        <table id="datatable" class="numbers">
          <thead><tr><td>Data...</td></tr></thead>
          <tbody></tbody>
        </table>
    </div>
    <div id="mapmain">
        <div id="map"></div>
        <ul id="cols" class="nobullet"></ul>
    </div>
    <div class="icons">
        <a href="?format=csv" id="csv-export" class="icon"><img src="{% static 'img/csv.png' %}" alt="CSV logo" title="Export als CSV"></a>
    </div>
</div>

{% endblock %}
