{% load ksp_utils %}
{% if error %}<div class="error">{{ error }}</div>
{% else %}
{% if gemeinden %}
  <div style="margin: 0.5em 0"><b>Gemeinden:</b> {{ gemeinden|gem_name_list }}</div>
{% endif %}
{% if regions %}
  <div style="margin: 0.5em 0"><b>Perimeter:</b> {{ regions|gem_name_list }}</div>
{% endif %}
{% if total %}<div style="font-size:x-small; font-style: italic">Linien: {{ total }}</div>{% endif %}

<table id="data_grid" class="numbers tablesorter">
  <thead>
  <tr>{% for name in field_names %}<th{% if name.0 == '*' %} class="aggr"{% endif %}>{{ name }}</th>{% endfor %}</tr>
  </thead>
  <tbody>
  {% for line in query %}
    <tr>
    {% for value in line %}<td>{{ value|display_value }}</td>{% endfor %}
    </tr>
  {% empty %}
    <tr><td colspan="5">Leider ergab Ihre Suchanfrage keinen Daten</td></tr>
  {% endfor %}
  </tbody>
</table>
<div class="db_view">[aus <a href="{% url 'view_def' db_view.oid %}">{{ db_view.name }}</a>]</div>
{% endif %}
