{% extends "base.html" %}

{% block htitle %}Dokumentation{% endblock %}

{% block content %}
<h2>Dokumente</h2>
<ul>
{% for doc in docs %}
    <li><a href="{{ MEDIA_URL }}{{ doc.doc }}">{{ doc.title }}</a> <small>({{ doc.fformat }}, {{ doc.date }})</small></li>
{% endfor %}
</ul>

<h2>Definitionen</h2>
<p><i>Siehe auch: <ul>
    <li><a href="http://www.lfi.ch/glossar/glossar.php">LFI Glossar</a></li>
    <li><a href="https://www.baselland.ch/glossar-htm.281375.0.html">Glossar Amt für Wald beider Basel</a></li>
    </ul></i>
</p>
<dl>
    <dt>Einwuchs</dt>
    <dd>Gesamtheit der Stammzahl oder des Volumens jener Bäume, deren Brusthöhendurchmesser zwischen zwei aufeinander folgenden Inventuren die Kluppierungsschwelle überschritten hat. Alle Probebäume welche neu eingewachsen sind (tree_obs.vita_id = 3). Der Einwuchs kann erst für ein Folge-Inventar berechnet werden.</dd>

    <dt>Lebender Zuwachs</dt>
    <dd>Der jährliche Volumen-Zuwachs aller lebenden Bäume zwischen zwei aufeinander folgenden Inventuren (tree_obs.vita_id = 2) - laufender jährliche Zuwachs aller lebenden Bäume. Das Volumen des Einwuchs wird addiert.</dd>

    <dt>Lokale Dichte</dt>
    <dd>Repräsentationsfläche eines Aufnahmeplots in Abhängigkeit des Waldrandfaktors (forest_edgef)(Funktion ksp_lokale_dichte(numeric)): (100/3* 1/ plot_obs.forest_edgef). Die lokale Dichte bezeichnet die am Stichprobenpunkt festgestellte (gemessene) räumlich Dichte der Zielvariable pro Flächeneinheit (normalerweise pro Hektar).</dd>

    <dt>Nutzung</dt>
    <dd>Entnahme von Holz und Bäumen (durch waldbauliche Eingriffe) oder von anderen Waldressourcen (z.B. Harz, Samen). Alle Bäume (sind nicht Probebäume) welche seit der letzten Aufnahme genutzt wurden (tree_obs.vita_id = 1). Die Nutzung kann erst für ein Folge-Inventar berechnet werden.</dd>

    <dt>Probebäume</dt>
    <dd>Baum, der Bestandteil der Stichprobe einer Inventur ist. Baum der auf einer Probefläche des Forstinventars des Amt für Wald beider Basel steht, einen Durchmesser grösser oder gleich der Kluppierschwelle (tree_obs.dbh = 12cm) hat sowie die Aufnahmeart = Kontrollstichprobe (tree_obs.survey_type_id=1) aufweist. Ein Probebaum ist lebend (tree_obs.vita_id = 2) oder neu eingewachsen (tree_obs.vita_id = 3).<br>
    Bemerkung: Grundsätzlich gibt es keine Bäume mit tree_obs.vita_id = 2 oder tree_obs.vita_id = 3 welche einen BHD (tree_obs.dbh) kleiner als 12 cm haben.</dd>

    <dt>Probefläche gültig</dt>
    <dd>Zufällig oder systematisch ausgewählter Teil der Waldfläche, auf der die Baum-, Bestandes- und Flächenmerkmale erhoben werden. Die Probeflächen des Forstinventars des Amt für Wald beider Basel besteht aus einem konzentrischen Kreis von 3 Aren Horizontalfläche. Der Radius einer Probefläche bis 20% Neigung beträgt 9.77 Meter. Anschliessend wird der Radius der Probefläche gemäss der folgenden Tabelle korrigiert (Link Übersichtstabelle Flächenkorrektur auf Grund der Hangneigung). Der Waldrandfaktor (plot_obs.forest_edgef) liegt zwischen 0.6 und 1.0.</dd>

    <dt>Standardabweichung</dt>
    <dd>Quadratwurzel aus dem Durchschnitt der quadrierten Abweichungen von Einzelwerten zu ihrem Mittelwert. Sie dient als Mass für die Streuung der untersuchten Grundgesamtheit.</dd>

    <dt>Stichprobennetz</dt>
    <dd>Das Stichprobennetz ist ein Gitternetz, welches die gesamte Kantonsfläche abdeckt. Das Gitternetz weist je nach Inventur eine unterschiedliche Maschenweite auf. Auf den Schnittpunkten des Netzes, die auf Grund des Waldentscheides im Luftbild wahrscheinlich Wald sind, liegen die terrestrischen Proben der kantonalen Inventur.</dd>

    <dt>Tote Bäume</dt>
    <dd>...werden nur zur Totholzberechnung berücksichtigt. Ein Totholzbaum ist seit der letzten Aufnahme abgestorben (tree_obs.vita_id = 4)</dd>

    <dt>Totholz</dt>
    <dd>Abgestorbenes Holz (Bäume, Äste, Strünke). Es wird oft zwischen stehendem und liegendem Totholz unterschieden. Totholz ist ein wichtiges Biotop für viele Tier- und Pflanzenarten sowie Pilze.<br>
    siehe auch <a href="https://www.baselland.ch/fileadmin/baselland/files/docs/vsd/forstamt/doku/totholz_charta.pdf">Totholz-Charta BL/BS</a></dd>

    <dt>Vorrat (Holzvorrat)</dt>
    <dd>Schaftholzvolumen in Rinde der lebenden Bäume und Sträucher (stehende und liegende) mit erkennbarer Gehölzart ab 12 cm BHD (tree_obs.vita_id = 2 OR tree_obs.vita_id = 3) AND tree_obs.dbh > 11)</dd>

    <dt>Waldboden (bestock und unbestockt)</dt>
    <dd>Der Wert Blösse (plot_obs.gap_id) hat keinen Einfluss auf die Definition der Probefläche. Eine Blösse bezeichnet nicht bestockten Waldboden (z.B. Waldstrasse). Der Unterschied von Blösse und nicht Holzboden ist nicht klar.</dd>

</dl>
{% endblock %}
