{% extends "base.html" %}
{% load ksp_utils %}

{% block htitle %}{{ gemeinde.name }}{% endblock %}

{% block extra_head %}
{% include "map_headers.html" %}

<style type="text/css">
div#map { width: 320px; height: 320px; float: right; margin-bottom: 0.5em; }
div#plotobs_container { display:none; }
div.map_container { width: 50%; float: right; }
div#map_details { width: 100%; height: 500px; display: inline-block; }
div.map_help { clear: right; float: right; display: none; }
</style>
<script type="text/javascript">

var gem_vector = JSON.parse('{{ gemeinde.the_geom|as_geojson|safe }}');
var year_layers = {};
var map_det = null;

function add_plot_detail(feature) {
    // A feature has been selected, let's display some details about it
    $('#plotobs_container').show();
    $('#plotobs_container').load(feature.getProperties().url);
}

$(document).ready(function() {
    $('#ksp_table').on('change', 'input', function(ev) {
        if ($(this).prop('checked')) {
            if (this.id in year_layers) {
                // Layer already existing, just show it
                year_layers[this.id].setVisible(true);
                return;
            }
            // Create a new layer and attach it to the map
            var source = new ol.source.Vector();
            $.ajax($(this).data('src')).then(function(response) {
              var geojsonFormat = new ol.format.GeoJSON();
              var features = geojsonFormat.readFeatures(response);
              source.addFeatures(features);
            });
            var new_layer = new ol.layer.Vector({source: source});
            map.addLayer(new_layer);
            year_layers[ev.target.id] = new_layer;
            $("div.map_help").show();
        } else {
            // Hide the layer
            year_layers[this.id].setVisible(false);
        }
    });
});
</script>
{% endblock %}

{% block content %}

<h1>{{ gemeinde.name }}</h1>

<div id="map"></div>
<div class="map_help">Klicken Sie auf einen beliebigen Punkt um Details zu zeigen</div>

<h2>Kontrollstichproben</h2>

<table id="ksp_table" class="numbers">
<thead><tr><th>Jahr</th><th>Anzahl<br>Probepunkte</th></tr></thead>
<tbody>
{% for data in plot_obs %}
<tr><td>{{ data.year }}</td><td>{{ data.id__count }}</td>
    <td><input type="checkbox" id="cb_{{ data.year }}" data-src="{% url 'plotobs' %}?year={{ data.year }}&gem={{ gemeinde.pk }}&format=json">
        <label for="cb_{{ data.year }}">Auf der Karte anzeigen</label></td>
</tr>
{% endfor %}

<tbody>
</table>

<br clear="right">

<div id="plotobs_container"></div>

<script type="text/javascript">

var selectIaction = new ol.interaction.Select({
    featureOverlay: new ol.FeatureOverlay({
      style: new ol.style.Style({
        image: new ol.style.Circle({
          radius: 5,
          fill: new ol.style.Fill({
            color: '#FF0000'
          }),
          stroke: new ol.style.Stroke({
            color: '#000000'
          })
        })
      })
    })
});
selectIaction.getFeatures().on('change:length', function(e) {
  if (e.target.getArray().length > 0) {
    $('#map_details').html('');
    add_plot_detail(e.target.item(0));
  } else {
    $('#map_details').hide();
    $('#plot_details').hide();
  }
});

var geojsonFormat = new ol.format.GeoJSON();
var map = new ol.Map({
    target: 'map',
    layers: [
      baselayer,
      new ol.layer.Vector({
        source: new ol.source.Vector({
            features: geojsonFormat.readFeatures(gem_vector)
        })
      })
    ],
    view: new ol.View({
      projection: proj_2056,
      center: {{ center|coords_to_js }},
      zoom: 13
    }),
    interactions: ol.interaction.defaults().extend([selectIaction])
});
</script>

{% endblock %}
