{% extends "base.html" %}

{% block content %}
<div style="float:right;">
    {{ inv_choice|safe }}
</div>
<br clear="right">

<table class="numbers" style="margin: 0 auto;">
<thead><tr>
    <th>Gemeinde <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="politische Gemeinde"></div></th>
    <th>Jahr <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Aufnahmejahr der Kontrollstichproben"></div></th>
    <th>Anzahl<br>Probepunkte <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Anzahl der aufgenommen Probepunkte (pro Gemeinde und Aufnahmejahr)"></div></th>
    <th>Anzahl Bäume <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Anzahl der erfassten Bäume (pro Gemeinde und Aufnahmejahr)"></div></th>
    <th>theoretische Waldfläche <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Gesamtheit aller Flächen, die gemäss Walddefinition der Aufnahmeleitung als Wald bezeichnet werden und durch Kontrollstichprobenflächen repräsentiert sind. Unbestockte Flächen oder Waldstrassen (Blösen) gehören ebenfalls zur Waldfläche."></div></th>
    <th>Stammzahl (Stk./ha) <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Anzahl Stämme, absolut oder pro Flächeneinheit, in der Regel Stammzahl pro Hektare.">
    <img class="info" src="{{ STATIC_URL }}img/methode.png" title="Summe aller Probebäume"></div></th>
    <th>Vorrat Einheitstarif BL (m<sup>3</sup>/ha) <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Schaftholzvolumen in Rinde der Probebäume. Holzvorrat in m3 pro Hektar m3.. Der Einheitstarif Baselland unterscheidet nicht zwischen Nadelholz und Laubholz und unabhängig von der Standortsgüte. Die Standortsgüte ist die von der vorhandenen Bestockung unabhängige Produktionsfähigkeit eines Standortes. Der Einheitstarif Baselland ist für den ganzen Kanton einheitlich.">
    <img class="info" src="{{ STATIC_URL }}img/methode.png" title="Funktion ksp_volume_et_bl: Tarif-Formel: ((tree_obs.dbh* tree_obs.dbh * 0.0011) - ( tree_obs.dbh * 0.0011) – 0.079) = Volumen (m3) pro Baum."></div></th>
    <th>Grundfläche [m<sup>2</sup> pro ha] <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Basalfläche: durchschnittliche Stammquerschnittsfläche eines Baumes in 1.3 m Höhe (BHD-Messstelle)">
    <img class="info" src="{{ STATIC_URL }}img/methode.png" title="Funktion ksp_grundflaeche_bl(smallint): pi() *  tree_obs.dbh * tree_obs.dbh"></div></th>
    </tr>
</thead>
<tbody>
{% for name, gem in gemeinden.items %}
  {% if not gem.years %}
    <tr><td valign="top"><a href="{% url 'gemeinde' gem.obj.pk %}">{{ gem.name }}</a></td>
        <td>-</td><td>-</td><td>-</td>
    </tr>
  {% else %}
    {% for data in gem.years %}
    <tr>{% if forloop.first %}<td valign="top" rowspan="{{ gem.years|length }}"><a href="{% url 'gemeinde' gem.obj.pk %}">{{ gem.name }}</a></td>{% endif %}
        <td>{{ data.jahr }}</td><td>{{ data.probepunkte }}</td><td>{{ data.probebaum_abs }}</td>
        <td>{{ data.waldflaeche }}</td><td>{{ data.stammzahl_ha }}</td><td>{{ data.volumen_ha }}</td><td>{{ data.grundflaeche_ha }}</td>
    </tr>
    {% endfor %}
  {% endif %}
{% endfor %}
</tbody></table>
<div class="db_view">[aus <a href="{% url 'view_def' db_view.oid %}">{{ db_view.name }}</a>]</div>

<div class="icons"><a href="?format=csv" class="icon"><img src="{{ STATIC_URL }}img/csv.png" alt="CSV logo" title="Export als CSV"></a></div>

{% endblock %}
