{% extends "base.html" %}

{% block extra_head %}
<style type="text/css">
  table.view_def th { text-align: right; vertical-align: top; }
  table.view_def th, table.view_def td { padding: 5px; }
  pre { margin: 4px }
</style>
{% endblock %}

{% block content %}
<h2>View definition</h2>
<table class="view_def">
  <tr><th>Name</th><td>{{ name }}</td></tr>
  <tr><th>Definition</th><td><pre>{{ definition }}</pre></td></tr>
</table>
{% endblock %}
