body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  background-color: #DDD;
}

h1 {
  font-size: 145%;
}
h2 {
  font-size: 130%;
}

p {
  font-size: 90%;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted gray;
}
a:hover {
  color: black;
  border-bottom: 1px solid gray;
}

a.icon {
  border: 0;
}

img.info {
  width: 16px;
}

fieldset {
  margin-top: 1em;
}

legend {
   font-size: x-small;
}

dt {
  font-weight: bold;
  margin-top: 0.8em;
}

ul.nobullet {
  list-style-type: none;
  padding-left: 0;
}

.hidden {
  display: none;
}

div#global {
  margin-left: auto;
  margin-right: auto;
  min-width: 800px;
  width: 80%;
  background-color: white;
}

div#main {
  padding: 0px 18px;
}

div#header_bar {
  color: white;
  background-repeat: no-repeat;
  background-image: url("../img/menu_back.jpg");
}
div#header_bar a {
  color: white;
}
div#header_bar li {
  display: inline;
  padding: 1em 0.5em;
}
div#header_bar li:hover, div#header_bar li:hover a {
  color: #333;
  background-color: white;
  opacity: 0.85;
}
div#logo {
  float: right;
  margin-top: -16px;
}
ul#main_menu {
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
}

#loggedin {
  float:right;
  clear:right;
  font-style: italic;
  font-size: x-small;
}

#page-title {
  margin: 0;
  padding: 1em 0;
}
#page-title h1 {
  font-size: 108%;
  margin: 0;
  padding: 0.5em 0;
  clear: both;
}

div.icons {
  margin-top: 0.1em;
  float:right;
}

div.columns2 {
  float:left;
  width: 48%;
}

div.coordinates {
  font-size: 75%;
}

div.field-row {
  margin-top: 0.6em;
  clear: both;
}

div.field-box {
  float:left;
  width: 350px; /*48%;*/
}

span.field-label {
  background-color: #eee;
  padding: 2px;
}
span.field-value, div.field-value {
  font-family: monospace;
  margin-left: 1em;
}
span.field-help, div.map_help {
  font-style: italic;
  font-size: 80%;
  color: gray;
}

div.db_view {
  font-family: monospace;
  font-size: 70%;
  color: gray;
  margin: 3px;
}

div.editable {
  border: 1px solid red;
  padding: 3px;
}

div.editable textarea {
  width: 100%;
  border: 1px solid gray;
}

div.error {
  color: red;
}
div.togglable {
  cursor: pointer;
}
div.togglable + div {
  display: none;
  margin-left: 0.6em;
}

div.bearb {
  font-style: italic;
  font-size: 80%;
}

div.input_choice {
  min-height: 22px;
}
span.num_choices {
  font-size: 11px;
}
img.clear_choices {
  width: 10px;
  display: none;
}

div.perim_choice.selected > div.togglable {
  color: red;
}

div.view-details {
  display: none;
  font-size: 80%;
  margin-bottom: 1em;
}

table.numbers {
  border: thin solid #6495ed;
  border-collapse: collapse;
  font-size: 80%;
}
table.numbers th, table.numbers td {
  border: thin solid #6495ed;
  padding: 5px;
}
table.numbers th {
  background-color: #EEEEEE;
}

table.properties {
  border: thin solid #ccc;
  border-collapse: collapse;
  font-size: 75%;
}
table.properties th, table.properties td {
  border: thin solid #ccc;
  padding: 3px;
}
table.properties th {
  text-align: right;
  text-transform: capitalize;
}

table.tablesorter thead tr .tablesorter-header {
  background-image: url("../img/ice-unsorted.gif");
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 16px;
}
table.tablesorter thead tr .tablesorter-headerSortUp,
table.tablesorter thead tr .tablesorter-headerSortDown {
  background-color: #aaa;
}
table.tablesorter thead tr .tablesorter-headerSortUp.aggr,
table.tablesorter thead tr .tablesorter-headerSortDown.aggr {
  background-color: #FF9F9F !important;
}
table.tablesorter thead tr .tablesorter-headerSortUp {
  background-image: url("../img/ice-asc.gif");
}
table.tablesorter thead tr .tablesorter-headerSortDown {
  background-image: url("../img/ice-desc.gif");
}

div#footer {
  clear: both;
  font-size: 80%;
  font-style: italic;
  margin-top: 1em;
  padding: 8px;
  background-color: #E3E3E3;
}

/* Tabs */
ul.tabs {
  position:relative;
  width: 100%;
  list-style:none;
  line-height:1em;
  padding:0;
  margin:0.4em 0;
}
ul.tabs li {
  display: inline;
  width: 15em;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border-right: 2px solid white;
  color: #777;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
ul.tabs li a {
  text-decoration: none;
}
ul.tabs li.active {
  color: black;
}
