{% extends "base.html" %}

{% block extra_head %}
<style type="text/css">
table#imports {	border-collapse: collapse; }
table#imports td {vertical-align: top; border: 1px solid #ddd;}
.warn_title {color: red; font-size: small; }
.warn_content {font-size: 11px;}
</style>
{% endblock %}

{% block content %}

<ul>
  <li><a href="{% url 'import' %}">Import a new file...</a></li>
</ul>

<h2>Imported file list</h2>
<table width="100%" id="imports">
<tr><th align="left">File</th><th align="left">When?</th></tr>
{% for item in object_list %}
  <tr><td>{{ item.name }}</td><td>{{ item.when }}
    {% if item.warnings %}
        <div class="warn_title togglable">Warnings</div>
        <div class="warn_content">{{ item.warnings|linebreaksbr }}</div>
    {% endif %}
  </td></tr>
{% endfor %}
</table>
{% endblock %}
